<html>
<head>
	<title>Event</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/index.css">
<body>
<!-- top nav -->
    <div class="topBar fixed-top" >
        <div class="row">
            <div class="col">
                <a href="javascript:history.back()"><img src="/images/backButton.png" class="topIcons"></a>
            </div>
            <div class="col-8">
                <h4>Event</h4>
            </div>
            <div class="col">
                <a href="help"><img src="/images/infoButton.png" class="topIcons" id="infoButton"></a>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>{{eventName}}</h2>
        <div class="row">
            <div class="column">
                <div>
                    <!-- public/images/popcorn.jpg -->
                    <img class="eventImage" src="/images/{{image}}"> 
                </div>
            </div>
            <div class="column">
                <p>{{eventType}} Event</p>
                <p>{{petType}}: {{breed}}</p>
                <p>{{time}}</p>
                <p>{{location}}</p>
            </div>
        </div>
        <p>{{description}}</p>
        {{#if attending}}
        <div class="form-check">
		  <input class="form-check-input" type="checkbox" value="" id="attending" checked>
		  <label class="form-check-label" for="attending">
		    I'm attending
		  </label>
		</div>
		{{else}}
		<div class="form-check">
		  <input class="form-check-input" type="checkbox" value="" id="attending">
		  <label class="form-check-label" for="attending">
		    I'm attending
		  </label>
		</div>
		{{/if}}
		
    </div>
 	<!-- <h4>links</h4>
    <div id="project1">
      <a href="index2.html">
         This is a comment <img src="images/83401061_598130577414441_7838613489009557504_o.jpeg" width="600" height="400" alt="S win image"> 
        <p>Sustain-A-Thon</p>
      </a>
    </div>  -->

    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script id="handlebars-demo" type="text/x-handlebars-template">
</script>
</body>
</html>
